@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Que Comemos App!</h1>
    <p>Aprendé a cocinar como Paulina cocina, con la miseria que tenés en tu casa.</p>
</div>
