@{
    ViewData["Title"] = "Recetas por usuario";
}
<h1>@ViewData["Title"]</h1>



@foreach (String s in ViewBag.reporte)
{
    <p style="font-family: Garamond; font-size: 30px; font-weight: 200; ">
        @s
    </p>
}
