
@{
    ViewData["Title"] = "Recetas del dia";
}

<h1>@ViewData["Title"]</h1>


<h1 class="display-4">Que Comemos App!</h1>
<p style="font-family: Cooper ;font-size: 200%; color: blueviolet; font-weight: 300;">Estas son todas las recetas</p>



@foreach (String s in ViewBag.RecetasDelDia)
{
    <p style="font-family: 'Lucida Calligraphy'; font-size: 150%; color: deeppink; font-weight: 300;">
        @s
    </p>
}
